/*------------------------------------*\
    $MODAL
\*------------------------------------*/

.modal-template {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	//create mixin
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

	.modal-overlay {
		background-color: black;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		opacity: 0.6;
	}

	.modal-dialog {
		background-color: white;
		position: absolute;
		width: 500px;
		border: 1px solid black;
		@include border-radius(10px);
	}

		.modal-header {
			min-height: 18px;
			padding: 20px;
			border-bottom: 1px solid #e5e5e5;
		}

		.modal-transclude {
			padding: 20px;

			.modal-footer {
				padding: 20px;
			}
		}
