<div template-modal="Sign up" close="vmSignUp.close()">
	<form novalidated name="signUpForm" ng-submit="vmSignUp.signUp()">
		<div class="form-group">
  			<label for="name">Name</label>
  			<input required type="text" name="name" class="form-control" ng-model="vmSignUp.newUser.name">
			<div ng-if="signUpForm.name.$dirty" ng-messages="signUpForm.name.$error">
				<div ng-message="required" class="text-danger">This is required.</div>
			</div>
  		</div>
  		<div class="form-group">
  			<label for="login">Login</label>
  			<input required type="text" name="login" class="form-control" ng-model="vmSignUp.newUser.login">
			<div ng-if="signUpForm.login.$dirty" ng-messages="signUpForm.login.$error">
				<div ng-message="required" class="text-danger">This is required.</div>
			</div>
  		</div>
		<div class="form-group">
  			<label for="password">Email</label>
  			<input required type="email" class="form-control" name="email" ng-model="vmSignUp.newUser.email">
  			<div ng-if="signUpForm.email.$dirty"  ng-messages="signUpForm.email.$error">
				<div ng-message="required" class="text-danger">This is required.</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
	  		<input required type="password" class="form-control" name="password" ng-model="vmSignUp.newUser.password">
	  		<div ng-if="signUpForm.password.$dirty"  ng-messages="signUpForm.password.$error">
				<div ng-message="required" class="text-danger">This is required.</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password">Confirm Password</label>
	  		<input required type="password" class="form-control" name="confirmPassword" ng-model="vmSignUp.newUser.confirmPassword" compare-to="vmSignUp.newUser.password">
	  		<div ng-if="signUpForm.confirmPassword.$dirty"  ng-messages="signUpForm.confirmPassword.$error">
				<div ng-message="required" class="text-danger">This is required.</div>
				<div ng-message="compareTo" class="text-danger">Must match the previous entry.</div>
			</div>
		</div>
	</form>

	<footer class="modal-footer">
		<input ng-class="{disabled : signUpForm.$invalid}" class="btn btn-primary" type="submit" value="Sign up">
		<input type="button" class="btn btn-default" ng-click="vmSignUp.close()" value="Close">
	</footer>
</div>