/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn-results {
    background-color: #ED5F16;
    border-color: #FFE0B2;
    width: 100%;
    padding: 8px;
    margin-top: 5px;

    &:hover,
    &:active,
    &:focus {
        background-color: #EF6C00;
        border-color: #FB8C00;
    }

    &[disabled] {
        background-color: #FFCC80;
        border-color: #FFF8E1;
    }
}