/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
@import "variables";
@import "mixins";

.btn {
	outline: none !important;
}

.btn-primary,
.btn-secondary,
.btn-danger,
.btn-default {
	@include border-radius(2px);

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	text-transform: uppercase;

	&:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	}

	&.disabled {
		background-color: $c-gray-disabled;
	}
}

.btn-round {
	@include border-radius(50%);
}

.btn-link {
	color: $c-blue-primary;
	text-transform: uppercase;
	font-weight: 500;

	&:hover,
	&:focus,
	&:active {
		background-color: rgba(158,158,158,0.2);
		text-decoration: none;
	}
}

.btn-link-primary {
	color: $c-blue-primary;
	text-transform: uppercase;
	font-weight: 500;

	&:hover,
	&:focus,
	&:active {
		background-color: #defbff;
	}
}

.btn-primary {
	background-color: $c-blue-primary;
	border: 0;
	letter-spacing: 0;

	&:hover,
	&:focus,
	&:active {
		background-color: $c-blue-primary-hover;
	}
}

.btn-danger {
	background-color: $c-red-primary;

	&:hover {
		background-color: $c-red-primary-hover;
	}
}

.bottom-action-area {
	.btn-full-sm {
		@include breakpoint(md) {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.pull-right {
		@include breakpoint(md) {
			float: none !important;
		}
	}

	.separator {
		@include breakpoint(md) {
			display: none;
		}
	}
}

.btn-menu {
	display: none;
	position: absolute;
	top: 10px;

	@include breakpoint(sm) {
		display: inline-block;
	}
}

.btn-add-item {
	background-color: inherit;
	margin: 10px;

	.glyphicon-plus {
		color: $c-gray-primary;
		top: 0;
		&:hover {
			color: $c-gray-primary-hover;
		}
	}
}

.btn-remove {
	color: $c-red-primary !important;
	cursor: pointer;

	&:hover {
		color: $c-red-primary-hover !important;
	}
}

.btn-edit {
	cursor: pointer;
	color: $c-gray-primary !important;

	&:hover {
		color: $c-gray-primary-hover !important;
	}
}
