/*------------------------------------*\
    #CONTAINERS
\*------------------------------------*/
.input-container {
    width: 280px;

    h3 {
        display: inline-block;
        margin-right: -65px;
        width: 100%;
    }

    .glyphicon {
        color: black;
        cursor: pointer;
        font-size: 18px;
    }
}

.panel-default {
    &>.panel-heading,
    &>.panel-footer {
        background-color: #002730;
        color: white;

        h2,
        h4 {
            color: white;
            font-weight: 600;
        }

        h4 {
            color: #8f8d8e;
        }
    }

    a {
        color: #ED5F16;
    }
}

.output {
    margin-left: 15px;

    &.error {
        h3 {
            color: red;
        }
    }
}

.instructions {
    width: 250px;
    margin-left: 15px;

    ul {
        padding-left: 10px;
    }

    &.ng-hide-add,
    &.ng-hide-remove {
        @include transition-property(all);
        @include transition-duration(0.3s);
    }

    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove {
        opacity:0;
    }

    &.ng-hide-add,
    &.ng-hide-remove.ng-hide-remove-active {
        opacity:1;
    }
}

.panel {
    min-width: 1000px;
}