/*------------------------------------*\
    #CONTAINERS
\*------------------------------------*/

pre {
    background-color: inherit;
    border: none;
    line-height: 1.6;
}

.input-container {
    width: 280px;
}

.output {
    margin-left: 60px;
}