/*------------------------------------*\
    #FORMS
\*------------------------------------*/
@import "variables";

.form-control {

	&:focus {
		border: 1px solid $c-blue-primary;
	}

	// &.ng-invalid-form-control {
	// 	border-color: #F44336;

	// 	&:focus {
	// 		box-shadow: 0 4px 8px 0 rgba(255, 0, 77, 0.6);
	// 	}
	// }
}

.add-tournament{
	.type {
		display: inline-block;
		width: 40%;
		margin-left: 5%;
	}

	.members {
		display: inline-block;
		width: 20%;
		margin-left: 5%;
	}

	.sport {
		display: inline-block;
		width: 30%;
	}
}