/*------------------------------------*\
    #GLOBALS
\*------------------------------------*/
@import "variables";

body {
	background-color: $c-background-body;
}

ul {
	width: 100%;
	padding: 0;
	margin: 0;

	li {
		width: 100%;
	}
}

.v-center {
	margin-top: 50%;
}

.text-error {
	color: $c-red-primary;
	font-weight: 600px;
}

.depth-area {
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.depth-area2 {
	box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}