/*------------------------------------*\
    #GLOBALS
\*------------------------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

pre {
    background-color: inherit;
    border: none;
    line-height: 1.6;
}

h2,
h3,
h4 {
    text-align: center;
    font-weight: 600;
}