/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.glyphicon {
	color: white;
	font-size: 21px;
	top: 5px;

	.glyphicon-list::before {
		cursor: pointer;
	}
}



