/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.glyphicon {
	color: white;
	font-size: 21px;
	top: 5px;

	.glyphicon-list {
		&:hover,
		&:focus {
			color: rgba(158, 158, 158, 0.2);
			cursor: pointer;
		}
	}
}



