/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

@import "variables";
@import "mixins";

header.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: $c-header;
	color: white;
	height: $header-height;
}

.main-content {
	margin-top: $header-height;
}

.navigation-bar {
	background-color: $c-navigation-bar;
	position: absolute;
	top: $header-height;
	left: 0;
	bottom: 0;
	width: $navigation-items-width;
	padding: 50px 0;
	z-index: 10;

	@include breakpoint(sm) {
		left: -1 * $navigation-items-width;
		width: $sm-navigation-items-width;

		&.navigation-bar-visible {
			left: 0;

			@include transition-property(left);
		  	@include transition-duration(2s);
		  	@include transition-timing-function(ease-in);
		}
	}
}

.navigation-items {
	position: absolute;

	ul li {
		list-style-type: none;
		line-height: 40px;

		@include breakpoint(sm) {
			font-size: $font-size-small;
		}
	}

	ul li a {
		text-decoration: none;
	}
}

section > h2 {
	padding-top: 50px;
}

section .tournaments {
	margin-left: $navigation-items-width;
	margin-top: $header-height;

	@include breakpoint(sm) {
		margin-left: 0;
	}
}