/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

@import "variables";
@import "mixins";

header.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: $c-header;
	color: white;
	height: $header-height;
}

.main-content {
	margin-left: $navigation-items-width;
	margin-top: $header-height;
	padding-top: 30px;
}

.navigation-bar {
	background-color: $c-navigation-bar;
	position: absolute;
	top: $header-height;
	left: 0;
	bottom: 0;
	width: $navigation-items-width;
	padding: 50px 0;
	z-index: 10;
}

.navigation-items {
	position: absolute;

	ul li {
		list-style-type: none;
		line-height: 40px;
	}

	ul li a {
		text-decoration: none;
	}
}