/*------------------------------------*\
    #MODAL
\*------------------------------------*/

.modal-template {
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	z-index: 100;
}

	.modal-overlay {
		background-color: black;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		opacity: 0.12;
	}

	.modal-dialog {
		background-color: white;
		position: absolute;
		width: 500px;
		@include border-radius(5px);
		background-color: #f5f5f5;
		box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
	}

		.modal-header {
			min-height: 18px;
			padding: 20px;
			background-color: #90a4ae;
			border-bottom: 1px solid #d5d5d5;
			font-weight: 700px;
		}

		.modal-transclude {
			padding: 20px;

			.modal-footer {
				padding: 15px 0;
			}
		}

	.modal-sign-in {
		.modal-footer {
			.unit.half {
				width: 48%;

				.btn {
					margin-left: 0 !important;
				}

				.btn-primary {
					@include breakpoint(sm) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
