/*------------------------------------*\
    #TABLES
\*------------------------------------*/
@import "variables";

.bordless-side {
	border-left: none !important;
	border-right: none !important;
}

.td-small {
	width: 10%;
}

.td-medium {
	width: 12%;
}

.td-action {
	width: 40px;
}

.tournaments {
	.ng-table th.header {
		cursor: pointer;

		&:nth-last-child(2) {
			border-right: 0;
		}

		&:last-child {
			border-left: 0;
		}
	}

	.pagination {
		margin: 0;
	}

	ul.pagination {
		width: auto;
	}

	.pagination,
	.ng-table-counts {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

		.btn-default {
			box-shadow: none;
		}
	}
}