<button type="button" class="btn btn-link btn-menu" ng-click="vmDashboard.isVisible = !vmDashboard.isVisible">
	<i class="glyphicon glyphicon-list"></i>
</button>
<div class="navigation-bar depth-area2" ng-class="{'navigation-bar-visible' : vmDashboard.isVisible}">
	<nav class="navigation-items">
		<ul>
			<li class="btn btn-link">
				<a ng-href="#">Main</a>
			</li>
			<li class="btn btn-link">
				<a ng-href="/#/tournaments">Tournaments</a>
			</li>
			<li class="btn btn-link">
				<a ng-href="#">Item 3</a>
			</li>
			<li class="btn btn-link">
				<a ng-href="#">Item 4</a>
			</li>
			<li class="btn btn-link">
				<a ng-href="#">Item 5</a>
			</li>
			<li class="btn btn-link">
				<a ng-href="#">Item 6</a>
			</li>
		</ul>
	</nav>
</div>
<section ng-controller="tournamentCtrl as vmTournament" class="tournaments">
	<h2 class="text-center">Tournaments</h2>

	<button type="button" class="btn btn-add-item" ng-click="vmTournament.openAddTournamentDialog()">
		<i class="glyphicon glyphicon-plus"></i>
	</button>
	<table ng-if="vmTournament.tournaments" class="table table-hover table-bordered table-striped tournaments-table">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Sport</th>
				<th>Type</th>
				<th>Location</th>
				<th>Members</th>
				<th colspan="2"></th>
			</tr>
			<tr ng-repeat="tour in vmTournament.tournaments">
				<td>{{ tour.name }}</td>
				<td class="td-medium">{{ tour.sport }}</td>
				<td class="td-medium">{{ tour.type }}</td>
				<td>{{ tour.location }}</td>
				<td class="td-small">{{ tour.members }}</td>
				<td class="bordless-side td-action"><i class="btn-edit glyphicon glyphicon-edit"></i></td>
				<td class="bordless-side td-action"><i ng-click="vmTournament.openDeleteDialog({ tournament : tour })" class="btn-remove glyphicon glyphicon-remove"></i></td>
			</tr>
		</tbody>
	</table>
</section>