<div class="row center-block">
	<div class="col-md-4 col-md-offset-4 col-xs-12">
		<form novalidated name="formLogin" class="v-center" ng-submit="vmLogin.authenticate()">
			<div class="form-group">
	  			<label for="login">Login</label>
	  			<input required type="text" name="login" class="form-control" ng-model="vmLogin.user.login">
				<div ng-if="formLogin.login.$dirty" ng-messages="formLogin.login.$error">
					<div ng-message="required" class="text-danger">This is required.</div>
				</div>
	  		</div>
			<div class="form-group">
	  			<label for="password">Password</label>
	  			<input required type="password" class="form-control" name="password" ng-model="vmLogin.user.password">
	  			<div ng-if="formLogin.password.$dirty"  ng-messages="formLogin.password.$error">
					<div ng-message="required" class="text-danger">This is required.</div>
				</div>
			</div>

			<div class="columns cf bottom-action-area">
				<input ng-class="{disabled : formLogin.$invalid}" class="btn btn-primary btn-full-sm" type="submit" value="Login">
				<div class="pull-right">
					<button type="button" class="btn btn-link btn-full-sm">
						<small>Forgot your password?</small>
					</button>
					<span class="separator"> | </span>
					<button type="button" class="btn btn-link btn-full-sm" ng-click="vmLogin.openModal()">Sign up</button>
				</div>
			</div>
		</form>

		<div layout="row" layout-align="end center">
			<div ng-click="vmLogin.authenticate('facebook')" md-theme="cyan" class="md-fab" aria-label="Sign in with Facebook">
				<md-icon icon="/source/imgs/facebook-login64x64.svg" class="icon-64x64 icon-margin"></md-icon>
			</div>
			<div ng-click="vmLogin.authenticate('google')" md-theme="cyan" class="md-fab" aria-label="Sign in with Google">
	    		<md-icon icon="/source/imgs/google-login64x64.svg" class="icon-64x64 icon-margin"></md-icon>
			</div>
		</div>
	</div>
</div>