<div template-modal="Sign in" class="modal-register-user" close="vmRegisterUser.close()">
	<form novalidated name="signInForm" ng-submit="vmRegisterUser.register()">
		<div class="form-group">
  			<label for="name">Name</label>
  			<input required type="text" name="name" class="form-control" ng-model="vmRegisterUser.newUser.name">
			<div ng-if="signInForm.name.$dirty" ng-messages="signInForm.name.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
  		</div>
  		<div class="form-group">
  			<label for="login">Login</label>
  			<input required type="text" name="login" class="form-control" ng-model="vmRegisterUser.newUser.login">
			<div ng-if="signInForm.login.$dirty" ng-messages="signInForm.login.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
  		</div>
		<div class="form-group">
  			<label for="password">Email</label>
  			<input required type="email" class="form-control" name="email" ng-model="vmRegisterUser.newUser.email">
  			<div ng-if="signInForm.email.$dirty"  ng-messages="signInForm.email.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
	  		<input required type="password" class="form-control" name="password" ng-model="vmRegisterUser.newUser.password">
	  		<div ng-if="signInForm.password.$dirty"  ng-messages="signInForm.password.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password">Confirm Password</label>
	  		<input required type="password" class="form-control" name="confirmPassword" ng-model="vmRegisterUser.newUser.confirmPassword" compare-to="vmRegisterUser.newUser.password">
	  		<div ng-if="signInForm.confirmPassword.$dirty"  ng-messages="signInForm.confirmPassword.$error">
				<div ng-message="required" class="text-error">This is required.</div>
				<div ng-message="compareTo" class="text-error">Must match the previous entry.</div>
			</div>
		</div>
		<footer class="modal-footer">
			<button ng-class="{disabled : signInForm.$invalid}" class="btn btn-primary pull-left" type="submit">Sign Up</button>
			<button type="button" class="btn btn-default pull-right" ng-click="vmRegisterUser.close()">Close</button>
		</footer>
	</form>
</div>