<div class="tournaments">
	<h2 class="text-center">Tournaments</h2>

	<button type="button" class="btn btn-add-item" ng-click="vmTournament.openAddTournamentDialog()">
		<i class="glyphicon glyphicon-plus"></i>
	</button>
	<table class="table table-bordered table-striped" ng-table="vmTournament.tableParams">
		<tbody>
			<tr ng-repeat="tour in $data">
				<td data-title="'Name'" sortable="'name'"> {{ tour.name }} </td>
				<td data-title="'Sport'" sortable="'sport'"> {{ tour.sport }} </td>
				<td data-title="'Type'" sortable="'type'"> {{ tour.type }} </td>
				<td data-title="'Location'" sortable="'location'"> {{ tour.location }} </td>
				<td data-title="'Members'" sortable="'members'"> {{ tour.members }} </td>
				<td class="bordless-side td-action"><i class="btn-edit glyphicon glyphicon-edit"></i></td>
				<td class="bordless-side td-action"><i ng-click="vmTournament.openDeleteDialog({ tournament : tour })" class="btn-remove glyphicon glyphicon-remove"></i></td>
			</tr>
		</tbody>
	</table>
</div>