<button class="btn btn-link btn-menu" ng-click="vmDashboard.hideNav()">
	<i class="glyphicon glyphicon-list"></i>
</button>
<nav ng-show="vmDashboard.isVisible" class="navigation-bar">
	<ul>
		<li class="btn btn-link">Main</li>
		<li class="btn btn-link">
			<a href="/#/tournaments">Tournaments</a>
		</li>
		<li class="btn btn-link">Item 3</li>
		<li class="btn btn-link">Item 4</li>
		<li class="btn btn-link">Item 5</li>
		<li class="btn btn-link">Item 6</li>
	</ul>
</nav>
<section>
	<table class="table table-bordered table-striped tournaments-table">
		<tr>
			<th>Name</th>
			<th>Sport</th>
			<th>Type</th>
			<th>Location</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td>Tennis Tournament</td>
			<td>Tennis</td>
			<td>BH Tennis</td>
			<td>Type</td>
			<td>Location</td>
			<td>E</td>
			<td>D</td>
		</tr>
	</table>
</section>