<div template-modal="Create tournament" class="modal-create-tournament" close="vmTournament.closeAddTournamentDialog()">
	<form novalidated class="add-tournament" name="createTourForm" ng-submit="vmTournament.addTournament(newTournament)">
		<div class="form-group">
  			<label for="name">Tournament name</label>
  			<input required type="text" name="name" class="form-control" ng-model="newTournament.name">
			<div ng-if="createTourForm.name.$dirty" ng-messages="createTourForm.name.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
  		</div>

  		<div class="form-group sport">
  			<label for="sport">Sport</label>
  			<select required name="sport" class="form-control" ng-model="newTournament.sport">
  				<option>Tennis</option>
  			</select>
			<div ng-if="createTourForm.spot.$dirty" ng-messages="createTourForm.spot.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
  		</div>
		<div class="form-group members">
  			<label for="members">Members</label>
  			<input required type="text" class="form-control" name="members" ng-model="newTournament.members">
  			<div ng-if="createTourForm.members.$dirty"  ng-messages="createTourForm.members.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
		</div>
		<div class="form-group type">
  			<label for="type">Type</label>
  			<select required name="type" class="form-control" ng-model="newTournament.type">
				<option>Single</option>
				<option>Double</option>
  			</select>
  			<div ng-if="createTourForm.type.$dirty"  ng-messages="createTourForm.type.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
		</div>

		<div class="form-group">
  			<label for="location">Location</label>
  			<input required type="text" class="form-control" name="location" ng-model="newTournament.location">
  			<div ng-if="createTourForm.location.$dirty"  ng-messages="createTourForm.location.$error">
				<div ng-message="required" class="text-error">This is required.</div>
			</div>
		</div>
		<footer class="modal-footer">
			<button class="btn btn-default unit half pull-left" type="button" ng-click="vmTournament.closeAddTournamentDialog()">Cancel</button>
			<button class="btn btn-primary unit half pull-right" type="submit" ng-class="{disabled : createTourForm.$invalid}">Create</button>
		</footer>
	</form>
</div>